services:
  postgres:
    image: postgres:15.2
    container_name: postgres_db
    restart: unless-stopped
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - postgres-network

  redis:
    image: redis:7
    container_name: booking_redis
    restart: unless-stopped
    ports:
      - "8888:6379"
    networks:
      - postgres-network
    
networks:
  postgres-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local