<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Набронировал</title>
</head>
<body>
    <div class="container">
        {% for hotel in hotels %}
            <div class="hotel" style="display: flex; margin-bottom: 20px; margin-left: 20px;">
                <img src="/static/images/{{ hotel.image_id }}.webp" alt="{{ hotel.name }}"
                alt="{{ hotel.name }}" width="300" height="200">
                <div class="hotel-info"> 
                    <h1>{{ hotel.name }}</h1>
                    <h2>{{ hotel.location }}</h2>
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>